{% include "head" %}

<header>
  <div class="container">
    <div class="mast">
      <a href="/">Ilmer Past</a>
    </div>
    <nav>
      <a href="/map">Location</a>
      <a href="/newsroom">News</a>
      <a href="/about">About</a>
    </nav>
  </div>
</header>
<main>
  {% if image %}
    <figure>
      <img src="/{{image}}">
    </figure>
  {% endif %}
  <section class="article" data-lightbox-all="{{ lightbox | default: false }}">

    <h1>{{ title }}</h1>

    <p>{{ description }}</p>

    {{ content }}
  </section>

  <div id="image-lightbox" popover>
    <button
      popovertarget="image-lightbox"
      class="lightbox-close"
      aria-label="Close lightbox">&times;</button>
    <img id="lightbox-image" alt="" />
    <p id="lightbox-caption"></p>
  </div>
</main>
<footer>
  <div class="container">
    An Ilmer community project
  </div>
</footer>
