---
layout: timeline
title: 'Timeline'
description: 'A detailed timeline of the history of Ilmer from 1066 to present-day.'
category: history
tags: [post]
image: images/timeline.png
---

<script type="module">
  document.getElementsByTagName('select')[0].addEventListener('change', function() {
    const category = this.value;
    document.querySelectorAll('.timeline-item').forEach(item => {
      const categories = JSON.parse(item.getAttribute('data-categories'));
      item.classList.toggle('hidden', category !== '' && !categories.includes(category));
    });
  });
</script>

{% assign labels = historicalEvents | uniqueLabels %}
<select>
  <option value="">All Categories</option>
  {% for label in labels %}
    <option value="{{ label }}">{{ label }}</option>
  {% endfor %}
</select>

<div id="timeline-container">
  {% for event in historicalEvents %}
    {% unless event.hidden %}
      <div class="timeline-item" data-categories='{{ event.labels | jsonStringify }}'>
        <div class="timeline-icon"></div>
        <div class="timeline-content">
          <h2>
            <span class="date">{{ event.date }}</span>
            {{ event.title }}</h2>
          {% if event.smallimage %}
            <a href="{{event.image}}"><img src="{{ event.smallimage }}" alt="{{ event.title }}"></a>
          {% elsif event.image %}
            <a href="{{event.image}}"><img src="{{ event.image }}" alt="{{ event.title }}"></a>
          {% endif %}

          {{ event.description | renderContent: "md" }}
          {% if event.references != empty %}
            <span class="reference">Source(s): {{ event.references | join: ' <br> ' | renderMarkdownInline }}</span>
          {% endif %}
        </div>
      </div>
    {% endunless %}
  {% endfor %}

</div>
